# Kconfig - app target configuration options

choice 
	prompt "APP Target Selection" 
	default L511C_2S
	
	#####################
	#L503C_2L
	#####################
	config L503C_2L
		bool "L503C_2L"
	
	#####################
	#L503C_2S
	#####################
	config L503C_2S
		bool "L503C_2S"
	
	#####################
	#L511C_2S
	#####################
	config L511C_2S
		bool "L511C_2S"
		
    #####################
	#L511C_X2S
	#####################
	config L511C_X2S
		bool "L511C_X2S"
		
	#####################
	#L511CN_2S
	#####################
	config L511CN_2S
		bool "L511CN_2S"

	#####################
	#L511CN_2S_NF
	#####################
	config L511CN_2S_NF
		bool "L511CN_2S_NF"
		
	#####################
	#L511C_2C
	#####################
	config L511C_2C
		bool "L511C_2C"
		
	#####################
	#L511C_X2C
	#####################
	config L511C_X2C
		bool "L511C_X2C"
	
	#####################
	#L511EN_2S
	#####################
	config L511EN_2S
		bool "L511EN_2S"
	
	#####################
	#L511E_2S
	#####################
	config L511E_2S
		bool "L511E_2S"	
	
endchoice
