# Kconfig - app target configuration options

choice 
	prompt "APP Target Selection" 

	#####################
	#L501E_3E
	#####################
	config L501E_3E
		bool "L501E_3E"

	#####################
	#L501E_3S
	#####################
	config L501E_3S
		bool "L501E_3S"
	
	#####################
	#L501E_3SKP
	#####################
	config L501E_3SKP
		bool "L501E_3SKP"
	
	#####################
	#L503E_3S
	#####################
	config L503E_3S
		bool "L503E_3S"

	#####################
	#L503E_3C
	#####################
	config L503E_3C
		bool "L503E_3C"
	
	#####################
	#L503C_3E
	#####################
	config L503C_3E
		bool "L503C_3E"
		
	#####################
	#L505C_3E
	#####################
	config L505C_3E
		bool "L505C_3E"
	
	#####################
	#L510C_3S
	#####################
	config L510C_3S
		bool "L510C_3S"
	
	#####################
	#L510CN_3S
	#####################
	config L510CN_3S
		bool "L510CN_3S"
	
	#####################
	#L510E_3S
	#####################
	config L510E_3S
		bool "L510E_3S"
	
	#####################
	#L510LAN_3S
	#####################
	config L510LAN_3S
		bool "L510LAN_3S"
		
	#####################
	#L510E_3C
	#####################
	config L510E_3C
		bool "L510E_3C"
	
	#####################
	#L510EN_3C
	#####################
	config L510EN_3C
		bool "L510EN_3C"
	
endchoice
