# Kconfig - app target configuration options

choice 
	prompt "APP Target Selection" 
	default L503C_6C

	#####################
	#L503C_6C
	#####################
	config L503C_6C
		bool "L503C_6C"
	
	#####################
	#L503CN_6C
	#####################
	config L503CN_6C
		bool "L503CN_6C"
	
	#####################
	#L503C_6S
	#####################
	config L503C_6S
		bool "L503C_6S"
	
	#####################
	#L503CN_6S
	#####################
	config L503CN_6S
		bool "L503CN_6S"
	
	#####################
	#L503C_6L
	#####################
	config L503C_6L
		bool "L503C_6L"
	
	#####################
	#L505C_6C
	#####################
	config L505C_6C
		bool "L505C_6C"
	
	#####################
	#L505C_6L
	#####################	
	config L505C_6L
		bool "L505C_6L"
	
	#####################
	#L511C_6C
	#####################
	config L511C_6C
		bool "L511C_6C"
	
	#####################
	#L511C_6D
	#####################
	config L511C_6D
		bool "L511C_6D"
	
	#####################
	#L511C_6S
	#####################
	config L511C_6S
		bool "L511C_6S"
	
	#####################
	#L511CN_6C
	#####################
	config L511CN_6C
		bool "L511CN_6C"

	#####################
	#L511AS_6D
	#####################
	config L511AS_6D
		bool "L511AS_6D"
	
	#####################
	#L511CS_6D
	#####################
	config L511CS_6D
		bool "L511CS_6D"
	
	#####################
	#L511CN_6S
	#####################
	config L511CN_6S
		bool "L511CN_6S"
		
endchoice
