/*---------------------------------------------------------------------------------------------------------------------
       (C) Copyright 2007 Marvell Semiconductor Israel Ltd. All Rights Reserved
----------------------------------------------------------------------------------------------------------------------*/


/**********************************************************************
 *
 * Filename: platform_version.h
 *
 * Programmers:  NONE
 *
 * Description:  PLATFORM release information
 *
 * Cautions:     THIS FILE IS AOUTOGENERATED. MANUAL CHANGES ARE ALLOWED
 *               BUT THEY WILL BE REMOVED IN THE NEXT RELEASE.
 *
 **********************************************************************/
#ifndef PLATFORM_VERSION_H
#define PLATFORM_VERSION_H

#define PLATFORM_RELEASE_NAME "FIELD#RELEASE_NAME"

#define PLATFORM_RELEASE_CREATION_DATE "FIELD#DATE"

#endif /* PLATFORM_VERSION_H */

